* {
    box-sizing: border-box;
    background: #EEF9BF;
    font-family: Roboto;
}

.relogio {
    font-size: 20px;
    margin: 20px;
    text-align: end;
    color: #75B79E;
}

.titulo {
    width: 100%;
    height: auto;
    /* margin-top: 40px; */
}

.titulo h1 {
    font-size: 56px;
    line-height: 66px;
    font-weight: bold;
    text-align: center;
    color: #75B79E;
}

.cartas {
    width: 100vw;
    min-width: 140px;
    height: auto;
    padding: 10px 100px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta {
    width: 117px;
    height: 146px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    position: relative;


}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background: #A7E9AF;
}

@media (max-width: 550px) {
    .titulo h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .cartas {
        padding: 0px 80px;
        margin: 5px 5px;
    }

    .carta {
        min-width: 117px;
    }
} 

.esconder {
    display: none;
}